body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 30px 40px 10px 25px;
}

#container {
    display: flex;
    height: 100vh;
}


#fileExplorer {
    width: 15%;
    padding: 0px;
    overflow-y: auto;
    border-right: 1px solid #3d3d3d;
}

#fileExplorer ul{
    padding: 0px;
}

#markdownContent {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

#tableOfContents {
    width: 15%;
    padding: 10px;
    overflow-y: auto;
    border-left: 1px solid #3d3d3d;
}

#tableOfContents ul{
    padding: 0px;
}

h1 {
    font-size: 35px;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}

h2 {
    font-size: 32px;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h3 {
    font-size: 28px;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h4 {
    font-size: 26px;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h5 {
    font-size: 24px;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h6 {
    font-size: 22px;
    color: white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

p {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
}

ul {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
}

li {
    font-size: 16px;
    line-height: 1.1;
}

a {
    color: rgb(234, 152, 255);
    font-style: italic;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    tab-size: 4;
    word-break: keep-all;
}

.test {
    color: red;
}

#Title {
    text-align: center;
    font-size: 50px;
}